* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #0093e9;
  background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
}
.mini-container {
  border-radius: 2em;
  background-color: white;
  box-shadow: 1.1px 1.1px 2.2px rgba(0, 0, 0, 0.039),
    3.8px 3.8px 5.3px rgba(0, 0, 0, 0.05), 9.1px 9.1px 10px rgba(0, 0, 0, 0.054),
    19.2px 19.2px 17.9px rgba(0, 0, 0, 0.057),
    40px 40px 33.4px rgba(0, 0, 0, 0.063), 100px 100px 80px rgba(0, 0, 0, 0.07);
  max-width: 30em;
  height: auto;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 1em;
  padding-bottom: 1em;
}
.mini-container h1 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-align: center;
  color: #3b91e7;
}
.content {
  display: flex;
  justify-content: center;
  margin-top: 1em;
  position: relative;
}
.content input {
  width: 28em;
  height: 3em;
  border-radius: 1em;
  border-style: none;
  background-color: rgb(236, 236, 236);
  padding-left: 1em;
}

.add {
  width: 5em;
  height: 3em;
  border-radius: 1em;
  border-style: none;
  background-color: rgb(7, 239, 7);
  position: absolute;
  right: 1em;
  cursor: pointer;
}

.content input:focus {
  outline: none;
}
.to-do-list {
  margin-top: 1em;
}
.to-do-list li {
  list-style: none;
  font-size: 1.2rem;
  padding: 0.5em 0.3em 0.3em 2.5em;
  cursor: pointer;
  user-select: none;
  position: relative;
  text-overflow: ellipsis;
}
.to-do-list li::before {
  content: "";
  position: absolute;
  width: 1.3em;
  height: 1.3em;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  background-image: url(/Assets/radio.png);
  left: 1em;
  top: 0.5em;
}

ul li.checked {
  text-decoration: line-through;
  color: rgb(122, 122, 122);
}
ul li.checked::before {
  background-image: url(/Assets/check.png);
}

ul li span {
  position: absolute;
  right: 1em;
  border-radius: 50%;
  height: 1em;
  width: 1em;
  text-align: center;
}
ul li span:hover {
  background-color: rgb(196, 195, 195);
  transition-duration: 0.5s;
}

@media (max-width: 426px) {
  .mini-container {
    max-width: 20em;
  }
  .add {
    right: 0em;
  }
}
@media (max-width: 326px) {
  .mini-container {
    max-width: 18em;
  }
  .add {
    right: 0em;
  }
}
